<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Subject</title>
</head>
<body>
    <h1>Select Subject</h1>
    <ul>
        {% for subject in subjects %}
            <li>
                <a href="{% url 'select_quiz_mode' subject.id %}">
                    {{ subject.name }}
                </a>
            </li>
        {% endfor %}
    </ul>
    <p> by crestacia and mr joshua</p>
</body>
</html>
